<a href="https://colab.research.google.com/github/RizkyAditya007/Algoritma-dan-pemrograman-polines/blob/main/Rizky_Aditya_jobsheet_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 – Tuple: Data Tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

#Praktikum 02 – Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}
print("NIM:", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("NIM:", mahasiswa["Prodi"])

NIM: 20251001
Nama: Andi
NIM: TRK

#Praktikum 03 – Operasi pada Dictionary

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20 # menambah data
mahasiswa["Prodi"] = "Teknik Komputer" # memperbarui data
del mahasiswa["Umur"] # menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

#Praktikum 04 – Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

#Praktikum 05 – Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Algoritma', 'Bahasa Inggris', 'Matematika'}
Mata kuliah Mhs2: {'Algoritma', 'Basis Data', 'Matematika'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

#Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

#Penugasan 03 - Tuple Sederhana

In [ ]:
mahasiswa_tuple = ("Budi", 22, "Teknik Informatika")

print("Nama:", mahasiswa_tuple[0])
print("Umur:", mahasiswa_tuple[1])
print("Prodi:", mahasiswa_tuple[2])

Nama: Budi
Umur: 22
Prodi: Teknik Informatika

#Penugasan 04 - Tuple Tidak Bisa Diubah

In [ ]:
angka = (1, 2, 3)

angka [0] = 10

print(angka)

TypeError: 'tuple' object does not support item assignment

#Penugasan 05 - Dictionary Dasar

In [ ]:
buku = {"Judul": "Algoritma", "Penulis": "Munir", "Tahun": 2021}

print("Judul:", buku["Judul"])
print("Penulis:", buku["Penulis"])
print("Tahun:", buku["Tahun"])

Judul: Algoritma
Penulis: Munir
Tahun: 2021

#Penugasan 06 - Operasi Dictionary

In [16]:
dosen = {"NIP": "12345", "Nama": "Budi", "Prodi": "TRK"}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

#Penugasan 07 - Set dan Himpunan

In [17]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Algoritma', 'Basis Data', 'Bahasa Inggris', 'Matematika'}
Intersection: {'Algoritma', 'Matematika'}
Difference: {'Bahasa Inggris'}

#Penugasan 08 - Studi Kasus Dictionary

In [18]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

#Penugasan 09 - Studi Kasus Set – Klub Mahasiswa

In [20]:
klub_a = {"Andi", "Budi", "Cici"}
klub_b = {"Cici", "Deni", "Eka"}

print("Daftar seluruh anggota:", klub_a | klub_b, "(Union)")
print("Anggota yang berada di klub yang sama :", klub_a & klub_b, "(Intersection)")


print("Anggota yang hanya ada di Klub A tetapi tidak di Klub B:", klub_a - klub_b, "(Difference)")

Daftar seluruh anggota: {'Andi', 'Deni', 'Budi', 'Eka', 'Cici'} (Union)
Anggota yang berada di klub yang sama : {'Cici'} (Intersection)
Anggota yang hanya ada di Klub A tetapi tidak di Klub B: {'Andi', 'Budi'} (Difference)