<a href="https://colab.research.google.com/github/RizkyAditya007/Algoritma-dan-pemrograman-polines/blob/main/Rizky_Aditya_jobsheet_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 – Perulangan For dengan Range

In [ ]:
for i in range(1, 5) :
  print(i)

1
2
3
4

#Praktikum 02 – Perulangan while

In [ ]:
n = int(input("Masukan Angka: "))
while n > 0:
  print(n)
  n -= 1

Masukan Angka: 5
5
4
3
2
1

#Praktikum 03 – Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 5):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****

#Praktikum 04 – Break dan Continue

In [ ]:
for i in range(1, 10):
  if i == 7:
    print("Angka 7 ditemukan")
    break

Angka 7 ditemukan

In [ ]:
for i in range(1, 5):
  if i %  2 == 1:
    continue
  print(i)

2
4

#Praktikum 05 – For pada Dictionary

In [ ]:
data = {"Nama":"Andi","Umur":20,"Prodi":"TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

#Praktikum 06 – For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
 print(i, nama)

1 Andi
2 Budi
3 Cici

#Praktikum 07 – Studi Kasus: Program Kasir Multi-Item

In [ ]:
total = 0

while True:
  barang = input("Masukan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukan harga {barang}: "))
  jumlah = int(input(f"Masukan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukan harga Buku: 50000
Masukan jumlah Buku: 2
Masukan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukan harga Pulpen: 5000
Masukan jumlah Pulpen: 3
Masukan nama barang (ketik 'selesai' untuk berhenti): selesai

===== struk Belanja =====
Total Belanja : Rp 115000.0

#Penugasan 03 - Menampilkan Deret Angka

In [ ]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

#Penugasan 04 - Hitung Faktorial

In [ ]:
angka = int(input("Masukkan bilangan untuk menghitung faktorial: "))
faktorial = 1
i = 1

while i <= angka:
  faktorial *= i
  i += 1

print(f"Faktorial dari {angka} adalah {faktorial}")

Masukkan bilangan untuk menghitung faktorial: 5
Faktorial dari 5 adalah 120

#Penugasan 05 - Pola Segitiga Terbalik

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

#Penugasan 06 - Cari Bilangan Prima dengan Break

In [ ]:
angka = int(input("Masukkan bilangan: "))

if angka > 1:
  is_prima = True
  i = 2

  while i * i <= angka:
    if angka % i == 0:
      is_prima = False
      break
    i += 1

  if is_prima:
    print(f"{angka} adalah bilangan prima")
  else:
    print(f"{angka} bukan bilangan prima")
else:
    print(f"{angka} bukan bilangan prima (karena kurang dari 2).")

Masukkan bilangan: 1
1 bukan bilangan prima (karena kurang dari 2).

#Penugasan 07 - Tampilkan Hanya Bilangan Genap dengan Continue

In [ ]:
for i in range(1, 20):
  if i %  2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18

#Penugasan 08 - Iterasi Dictionary Mahasiswa

In [ ]:
data = {"Nama":"Budi","Umur":21,"Prodi":"Teknik Komputer"}

for k, v in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

#Penugasan 09 - Enumerate Daftar Barang

In [ ]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
 print(i, nama)

1 Buku
2 Pulpen
3 Tas

#Penugasan 10 - Studi Kasus – Kasir Diskon

In [52]:
total = 0

while True:
  barang = input("Masukan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukan harga {barang}: "))
  jumlah = int(input(f"Masukan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal
  if total >= 200000:
    diskon = total * 0.1
  else:
    diskon = 0
total_bayar = total - diskon


print("\n===== struk Belanja =====")
print(f"Total Belanja : Rp {total}")
print(f"Diskon : Rp {diskon:,}")
print(f"Total Bayar : Rp {total_bayar}")

Masukan nama barang (ketik 'selesai' untuk berhenti): sendal
Masukan harga sendal: 15000
Masukan jumlah sendal: 1
Masukan nama barang (ketik 'selesai' untuk berhenti): selesai

===== struk Belanja =====
Total Belanja : Rp 15000.0
Diskon : Rp 0
Total Bayar : Rp 15000.0